stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE_NAME: k8s-react-template
  HELM_REPO: bunpanin/playaround-helms-argocd-repo
  TAG: "$CI_COMMIT_SHORT_SHA"

# CI JOB (Build & Push)
build-job:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - echo "Building image with tag $TAG"
    - docker build -t $DOCKER_USERNAME/$DOCKER_IMAGE_NAME:$TAG .
    - docker push $DOCKER_USERNAME/$DOCKER_IMAGE_NAME:$TAG
  only:
    - main

# CD JOB (Update Helm)
deploy-job:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache git wget
    - wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
    - chmod +x /usr/local/bin/yq
  script:
    - git clone https://github.com/$HELM_REPO helm_repo
    - cd helm_repo/plainting-chart

    - echo "Update image repository"
    - yq -i ".image.repository=\"$DOCKER_USERNAME/$DOCKER_IMAGE_NAME\"" values.yaml

    - echo "Update image tag"
    - yq -i ".image.tag=\"$TAG\"" values.yaml

    - git config --global user.email "username@example.com"
    - git config --global user.name "gitlab-ci"
    - git add .
    - git commit -m "ci: update helm image to $TAG"
    - git push https://$GIT_TOKEN@github.com/$HELM_REPO
  only:
    - main